.spinner{
border: 16px solid #3498db;
border-bottom: 16px solid transparent;
border-radius: 50%;
  /* border-top: 16px solid #3498db;
  border-left: 16px solid #3498db;
  border-right: 16px solid #3498db; */
  /* width: 120px;
  height: 120px; */
  -webkit-animation: spin 1s linear infinite; 
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.spinnerContainer{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
  