.addExpenses-main{
    /* border: 1px solid black; */
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    gap: 5px;
    border: 1px solid;
    box-sizing: border-box;
    width: 100vw;
    padding: 0 3vw;
}

.addExpenseRowBtn{
    color: rgb(0, 123, 255);
    cursor: pointer;
    /* align-self: flex-start;
    margin-left: 10px; */
    /* margin-left: 2vw */
}

.addExpenseRowBtn:hover{
    color: rgba(0, 123, 255, 0.726);
    cursor: pointer;
}

.addExpenseRowBtn:active{
    color: rgb(0, 123, 255);
    cursor: pointer;
}

.addExpenses-globalDetails{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 10px 30px 10px;
}

.addExpenses-globalDetails .inputField{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding-left: 2px;
    margin: 0
}

.addExpenses-globalDetails .inputField:focus{
    outline: none;
    border-bottom: 1px solid rgb(0, 123, 255);
}