.fp-menu-icon{
    position: fixed;
    /* padding: 8px; */
    padding-right: 7px;
    top: 25px;
    /* left: 10px; */
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 2000;
}

.filterPane{
  position: fixed;
  top: 0;
  /* bottom: 0; */
  right: 0;
  /* right: 0; */
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.388); */
  /* z-index: 1000; */
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-top: 50px;
  padding-left: 0;
  /* gap: 20px; */
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  /* transition:  0.3s ease-in-out; */
}

.filterPane:focus{
  outline: none;
}

.fp-enter{
    width: 0;
    padding-left: 0;
    padding-right: 0;
    /* right: -200px; */
    /* opacity: 0; */
  }

  .fp-enter-active{
    width: 300px;
    padding-right: 20px;
    /* right: 0; */
    /* opacity: 1; */
    transition: all 500ms;
  }

  .fp-exit{
    
    /* right: 0; */
    /* opacity: 1; */
    width: 300px;
    padding-right: 20px;
  }

  .fp-exit-active{
    width: 0;
    padding-left: 0;
    padding-right: 0;
    /* right: -200px; */
    /* opacity: 0; */
    transition: all 500ms;
  }

  .fp-el-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: fit-content; */
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
  }

  .fp-el-header{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    z-index: 2000;
}

.fp-el-header:hover{
    color: rgba(45, 126, 255, 0.888);
    /* background-color: brown; */

}

.fp-el-header:active{
    color: rgb(19, 102, 235);
    background-color: rgb(244, 244, 244);
}

.fp-el-icon{
  margin-top: 3px;
}

.fp-el-content{
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  max-height: fit-content;
  opacity: 1;
  z-index: 1000;
  overflow-y: unset;
  overflow-x: hidden;
  padding: 10px;
  transition: all 500ms;
}

.fp-el-content-enter{
  max-height: 0px;
}

.fp-el-content-enter-active{
  max-height: 100px;
  /* transition:  all 500ms; */
}

.fp-el-content-exit{
  max-height: 100px;
}

.fp-el-content-exit-active{
  /* opacity: 0; */
  /* top: -10px; */
  /* margin-top: -50px; */
  max-height: 0px;
  padding-top: 0;
  padding-bottom: 0;
  /* transition:  all 500ms; */
}

.fp-el-content .searchResultDiv{
    position: static;
    display: block;
    border-radius: 10px;
    width: 90%;
    transform: none;
    /* top: 100%;
    left: 50%;
    transform: translate(-50%); */
    background-color: white;
    user-select: none;
    z-index: 6000;
    max-height: 200px;
    overflow-y: scroll;
}

.clearFilterIcon{
  cursor: pointer;
}

.clearFilterIcon:hover{
  color: rgba(45, 126, 255, 0.888);
}

.clearFilterIcon:active{
  color: rgb(19, 102, 235);
}